* {
margin: 0;
padding: 0;
}
.body{
   font-family: Lato; 
    src: url(lato/latobold.ttf); /* Путь к файлу со шрифтом */
}
.header{
  background: #222222;
  padding-top: 18px;
  padding-bottom: 18px;
  

}
.container{
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
}

.header__box{
  display: flex;
  justify-content: space-between;
  
  
}
.header__left{
  display: flex;
 
  align-items: center;
}
.header__logo{
  margin-right: 20px;
  text-decoration: none;
}

.header__right{
  display: flex;
 
  align-items: center;
}

.header__menu{
  position: relative;
  z-index: 2;
  color: white;
  display: block;
  width: 32px;
  cursor: pointer;
}
.header__nav {
  width: 232px;
  background-color: white;
  position: absolute;
  top: 69px;
  right: 0px;
  z-index: 10;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  box-sizing: border-box;
  /* display: none; */
}
.nav__wrap {
  position: relative;
}

.nav__info{
  width: 100%;
  padding-top: 43px;
  padding-left: 20%;
  
}
.nav__title{
  margin-bottom: 24px;
}
.nav__heading{
  color: #F16D7F;
}
.nav__info-item{
  margin-bottom: 20px;
}
.nav__list{
  padding-left: 21px;
  
}
.nav__info li {
    list-style-type: none; 
    margin: 11px 0;
    
   }
.nav__text-link{
  text-decoration: none;
  color:#6F6E6E;
} 


.nav__close {
  position: absolute;
  right: 10px;
  top: 10px;
}

#burger {
  display: none;
  
}
#burger:checked~.header__nav {
  display: block;
}
#burger:not(checked)~.header__nav {
  display: none;
}


.header__item:not(:last-child){
  margin-right: 20px;
}


.top{
  background-color:  #F1E4E6;
  
}

.top__box{
  display: flex;
  justify-content: flex-end;
  align-items: center;
 height:764px;
  background-image: url(../img/topfon.png);
  background-size: 67%;
  background-repeat: no-repeat;
  background-position:left bottom;
}

.top__info{
border-left: 12px solid #F16D7F;


}
.top__heading{
  padding-left: 16px;
  width: 377px;
  color: #222222;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.top__heading_span{
  font-weight: bold;
  font-style: normal;
font-size: 32px;
line-height: 38px;
 color: #222222;
}
 .top__pink{
   color: #F16D7F;
 }

.sections{
  /* min-height: 470px; */
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  flex-wrap: wrap;

}
.section__one {
  box-sizing: border-box;
 display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* 
.section__two{
   background-image: url(../img/item4.jpg);
  height: 180px;
  
} */
.section__item{
  margin-top: 30px;
  width: 32%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

 
 }

 
 
.item_one{
  background-image: url(../img/item1.jpg);
  background-size: cover;
  height: 260px;
}

.item_two{
  background-image: url(../img/item2.jpg);
  background-size: cover;
 
 height: 260px;
}

.item_three{
  background-image: url(../img/item3.jpg);
  background-size: cover;
  height: 260px;
}
.item_four{
  
  background-image: url(../img/item4.jpg);
  background-size: cover;
  width: 100%;
  min-height: 180px;
}

/* .section__two{
    margin-top: 30px;
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
 }
  */
 .section__link{
   text-decoration: none;
 }
.section__h2{
font-size: 24px;
line-height: 29px;


color: #F16D7F;
}
.section__text{
  font-size: 16px;
line-height: 19px;


color: #FFFFFF;
}

.heading{
font-size: 30px;
line-height: 36px;
color: #222222;
}

.heading_h3{
  font-style: normal;
font-weight: normal;
  font-size: 13px;
line-height: 16px;
color: #000000;
}

.text{
  font-size: 14px;
  line-height: 17px;
}
.fetured-items{
  margin-top: 96px;
  display: flex;
  flex-direction: column;
align-items: center;
  
}

.text_products{
color: #9F9F9F;
padding-bottom: 18px;
text-align: center;
}

.products{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* padding-top: 48px; */
}


.product{
  margin-top: 30px;
  width: 360px;
  box-sizing: border-box;
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;

   position: relative;
  transition: 0.5s;
}

.product__img:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.product_img{
  align-self: center;
  width: 100%;
  height: 420px;
}

.product:hover .product__overlay {
  opacity: 1;
}
.product__overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 420px;
  background-color: rgba(58, 56, 56, 0.83);
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: 0.5s;
}

.product__btn{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 140px;
  height: 44px;
  outline: 1px solid white;
  text-decoration: none;
  
}
.sale_mini{
  width: 26px;
  height: 23px;
}
.product__btn_text{
color: #FFFFFF;
}

.product__info{
padding:25px 17px 20px 17px;
display: flex;
flex-direction: column;

}
.product__text{
  padding-top: 13px;
  font-weight: 300;
  color: #5D5D5D;

}
.product__link{
  
  text-decoration: none;
  font-size: 13px;
line-height: 16px;
color: #000000;
}

.product__link:hover{
  text-decoration:underline #000000;
}

.product__text_pink{
 
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}
.padding_sale{
 padding-top: 18px;
}

/* .all_products__info{
  
  margin-top: 48px;
  align-self: center;
  width: 212px;
  height: 48px;
  outline: 1px solid #F16D7F;
} */

.all_products__link{
   margin-top: 48px;
   width: 212px;
  height: 48px;
  border: 1px solid #F16D7F;
  display: flex;
  justify-content: center;
  align-content: center;
  
  text-decoration: none;
}
.product__link_text{
  align-self: center;
}


.all_products__link:hover{
  
  background-color: #F16D7F;
  color: white;
}


.advantages{
  margin-top: 95px;
  /* height: 342px; */
  background: #222224;
  
}
.advantages__box{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 103px;
  padding-bottom: 103px;

}
.advantages__item{
  max-width: 360px;
  height: 134px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* outline: 1px solid white; */

}
.advantages__item_img{
  width: 45px;
  height: 32px;
}
.heading_h4{
  font-size: 19.96px;
line-height: 24px;
color: #FBFBFB;
}
.advantages__item_text{
  font-weight: 300;
  text-align: center;

color: #FBFBFB;
}


.subscribe{
  padding-top:90px;
  padding-bottom: 130px; 
  background-image:url(../img/bg_subscribe.jpg);
}

.subscribe__box{
  box-sizing: border-box;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe__feedback{
    display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  width: 360px;
  height: 225px;

}
.subscribe__feedback_img{
  width: 96px;
  height: 96px;
}
.subscribe__feedbak_text{
  padding-top:30px;
  font-size: 20px;
line-height: 24px;
text-align: center;

color: #222224;
}

.subscribe__form{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  width: 557px;
  height: 142px;
}

.subscribe__form_heading{
font-weight: bold;
font-size: 24px;
line-height: 162%;

/* or 39px */
text-align: center;

color: #222224;
}
.subscribe__form_text{
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.subscribe__form_forma{
  display: flex;
  justify-content: center;
  /* background-color: gold; */
  padding: 10px;

}
.subscribe__form_field{
  padding: 7px 7px 7px 22px;
  
  border: none;
  background-color: #E1E1E1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

}

  .subscribe__form_field::placeholder {
  color: #fff;
  
  }
 
.subscribe__form_field:focus {
  outline: none;
  background-color: #c0bfbf;
}

.subscribe__form_btn{
  width: 100px;
  height: 49px;
  border: none;
  background-color: #F16D7F;
  color: white;
  border-radius: 0 20px 20px 0;
  padding: 7px;
}
.subscribe__form_btn:hover{
   background-color: #E05C6E;
}

.footer{
 padding: 23px 0;
 background: #222224;
 
}

.footer_box{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__box_left{
   font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}
.footer__box_right{
  
display: flex;
  justify-content: flex-end;
}

.footer__box_link{
color: #000000;
text-decoration: none;
  font-size:16px;

   background-color: white;
  padding: 10px;
  margin-left: 7px;
 
}
.footer__box_link:hover {
   color: #fff;
   background-color: #F16D7F;
}



@media(max-width:1090px){
  .products{
 justify-content: center;
  }
  .product:nth-child(odd){
    margin-right: 20px;
  }
}

@media (max-width:900px){
  .container{
    max-width: 768px;
  }
  .top__box{
    height: 368px;
    background-size: 50%;
  }
  .top__heading{
  width: 283px;
  font-size: 44px;
  line-height: 53px;
  }
  .top__heading_span{
    font-size: 24px;
    line-height: 29px;
  }
  .sections{
    margin-top: 0;
  }

  .item_one{
  
 background-size: 100%;
 width: 232px;
 height: 168px;
}

.item_two{
  background-size: 100%;
 width: 232px;
 height: 168px;
}

.item_three{
  background-size: 100%;
 width: 232px;
 height: 168px;
}
.item_four{
  
  background-size: 100%;
  min-height: 116px;
}
.fetured-items{
  margin-top: 154px;
}

.subscribe{
   background-size: cover;
  padding: 0;
}
.advantages__box{
  flex-direction: column;
  padding-top: 48px;
  padding-bottom: 17px;
}
.advantages__item{
  padding-bottom: 48px;
}
.subscribe__box{
  flex-direction: column;
  padding-top: 64px;
  padding-bottom: 104px;
}
.subscribe__feedback{
  padding-bottom: 48px;
}
}

@media (max-width:730px){

  .container{
    max-width: 375px;
  }
  .top__box{
    height: 363px;
    background: none;
  }
  .top__heading{
  width: 236px;
  font-size: 38px;
  line-height: 46px;
  }
  .top__heading_span{
    font-size: 20px;
    line-height: 24px;
  }

   .header__nav {
    width: 100%;
    height: 100vh;
  }
  .sections{
    margin-top: 0;
  }

  .item_one{
  
 background-size: cover;
 width: 100%;
 height: 247px;
}

.item_two{
  
 background-size: cover;
 width: 100%;
 height: 247px;
}

.item_three{
  
 background-size: cover;
 width: 100%;
 height: 247px;
}
.item_four{
  
  background-size: cover;
  min-height: 116px;
}

.product:nth-child(odd){
    margin-right: 0px;
  }
.fetured-items{
  margin-top: 64px;
}


.subscribe{
   background-size: cover;
 
}
.advantages__box{
  flex-direction: column;
  padding-top: 48px;
  padding-bottom: 17px;
}
.advantages__item{
  padding-bottom: 48px;
}
.subscribe__box{
  flex-direction: column;
  padding-top: 64px;
  padding-bottom: 104px;
}
.subscribe__feedback{
  padding-bottom: 48px;
}
.subscribe__feedbak_text{
  font-size: 18px;
  line-height: 20px;
}
.subscribe__form_heading{
  line-height: 153%;
}
.subscribe__form_text{
  font-size: 14px;
line-height: 153.2%;
}
.footer{
  padding-top: 43px;
  padding-bottom: 9px;
}
.footer_box{
  flex-direction: column-reverse;
}
.footer__box_right{
  padding-bottom: 40px;
}
}



