.new_arrivals{
    background: #F8F3F4;
}
.new_arrival__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 148px;
}
.new_arrival__heading{
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.breadcrumbs_link{
    text-decoration: none;
}
.breadcrumbs_text{
    font-weight: 300;
font-size: 14px;
line-height: 17px;

/* identical to box height */

color: #636363;
}

.breadcrumbs_text_active{
    font-weight: bold;
    color: #F16D7F;
}

.products__box{
    margin-top: 51px;

}
.products_filter{
    display: flex;
margin-bottom: 34px;
}
.products_filter_right{
    padding-left: 30px;

}

.filter {
   width: 360px;
  background-color:white;
  box-sizing: border-box;
  position: relative;
  outline: none;
  border: none;
}
.filter-text{
    font-weight: 600;
  
    padding-left: 16px;

}
/* Убираем стандартный маркер Chrome */
details summary::-webkit-details-marker {
  display: none
}
/* Убираем стандартный маркер Firefox */
details > summary {
  list-style: none;
}


.filter[open] {
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  
}
.filter[open]>summary{
  color: #F16D7F;
  font-weight: 600;
  outline: none;
  border: none;
  list-style: none;
}

.fiter-content {
    z-index: 10 ;
  position: absolute;
  background-color:white;
  width: 360px;
  left: 0;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
 
}
.filter-category{
    padding: 11px 0px 11px 10px;
    outline: none;
    border-left: 4px solid #F16D7F;
    border-bottom: 1px solid #EBEBEB;
     color: #F16D7F;
    list-style: none;
}
.filter-title{
    outline: none;
    padding-left: 17px;
     padding-bottom: 16px;
     box-sizing: border-box;
}

.filter-list{
    padding: 13px 0 8px 14px;
    list-style: none;
  

} 
.filter-item{
    padding-top: 11px;
}
.filter-link{
color: #6F6E6E;
text-decoration: none;

}
.products__filter_right{
    display: flex;
}
.checkbox{
     cursor: pointer;
}
.trending{
     position: relative;
    width:155px
}
.filter__menu{
     display: block;
}
.filter-heading{
    cursor: pointer;
    color: #6F6E6E;
    padding-left: 10px;
}
.filter__nav {
  
  background-color: white;
  position: absolute;
  left: 0px;
  z-index: 10;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  box-sizing: border-box;
  width: 100%;
  padding-left:9px;
  padding-bottom: 11px;
}

.filter__nav li{
    list-style-type: none;
    margin-top: 7px; 
}
.filter__text{
    margin-left: 7px;
    font-size: 14px;
line-height: 16px;

color: #6F6E6E;
}

#trending-now{
  display: none;
  
}
#trending-now:checked~.filter__nav {
  display: block;
}
#trending-now:not(checked)~.filter__nav {
  display: none;
}


.size{
    position: relative;
    width: 80px;
}

#size_id{
  display: none;
  
}
#size_id:checked~.filter__nav {
  display: block;
}
#size_id:not(checked)~.filter__nav {
  display: none;
}


.price{
    position: relative;
    width: 100px;
}

#price_id{
  display: none;
  
}
#price_id:checked~.filter__nav {
  display: block;
}
#price_id:not(checked)~.filter__nav {
  display: none;
}





.pagination{ 
    padding-top: 48px;
    /* padding-bottom: 96px; */
    display: flex;
    justify-content: center;

}
.pagination_block{
    width: 284px;
    outline: 1px solid #EBEBEB;

    
    display: flex;
    justify-content: space-around;
    padding-top: 12px;
    padding-bottom: 12px;
    
}
.pagination_block>a{
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    color: #C4C4C4;
}
.trending{
    margin-left: 30px;
    background-color:white;
  box-sizing: border-box;
  position: relative;
  outline: none;
  border: none;
}
.trending-content{
    z-index: 10 ;
  position: absolute;
  background-color:white;
  width: 80px;
  left: 0;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.trending-text{
    color: #6F6E6E;
}
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}


@media (max-width:900px){
    .products_filter{
       justify-content: space-between;
}
}

@media (max-width:730px){
    .products_filter{
       justify-content: none;
}
}
